src/**
test/**
coverage/**
.vscode-test/**
.eslintrc.json
.eslintignore
.gitignore
vitest.config.ts
scripts/**
tsconfig.json
tsconfig.test.json
package-lock.json
node_modules/**
!node_modules/.bin/
!node_modules/vscode/**
tmp-npm-cache/**
.npm/**
package-lock.json
